<div id="login">
    <h2>Login</h2>
    <hr>
    <form class="form">
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="email" [(ngModel)]="email" (keyup.enter)="login()" />
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="password" [(ngModel)]="password" (keyup.enter)="login()" />
        </div>
        <div class="form-group clearfix">
            <p class="text-danger float-left">{{errorMessage}}</p>
            <button class="btn btn-primary float-right" type="submit" (click)="login()">Login</button>
        </div>
    </form>
    <hr>
</div>